@model IEnumerable<ShopComputerDomainLibrary.Category>
@using ShopComputer.Models.ViewModels.Categories
@{
    ViewData["Title"] = "Index";
}

<h1>Category</h1>
@if (User.Identity != null && User.IsInRole("manager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @(item.ParentCategory != null ? item.ParentCategory.CategoryName : "Немає")
                </td>
                @if (User.Identity != null && User.IsInRole("manager"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
